# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Maven Package

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 16
      uses: actions/setup-java@v3
      with:
        java-version: '16'
        distribution: 'temurin'
        cache: maven

    - name: Test with Maven
      run: |
        cd ExercicioDosHorarios
        mvn clean test site
    - name: Upload build artifacts
      uses: actions/upload-artifact@v3
      with:
        name: relatorio_de_testes
        path: ExercicioDosHorarios/target/site/

  build:
    runs-on: ubuntu-latest

    needs: test
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 16
      uses: actions/setup-java@v3
      with:
        java-version: '16'
        distribution: 'temurin'
        cache: maven

    - name: Build with maven
      run: |
        cd ExercicioDosHorarios
        mvn clean install

    - name: Upload build artifacts
      uses: actions/upload-artifact@v3
      with:
        name: arquivo jar
        path: ExercicioDosHorarios/target/*.jar
  
  shell-scripts:
    runs-on: ubuntu-latest

    needs: build
    steps:
    - name: Executar script
      uses: actions/checkout@v3
    - run: sh scripts/script.sh
